@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --primary-color:#AD7CA9;
    --text-color:#003631;
    --heading-color:#430a4d;
    --border-color:#ffeda8;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'robot slab' ;
}

body{
    color: var(--text-color);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    list-style-type: none;
}

h1,h2,h3{
    color:var(--heading-color);
    font-weight: 600;
}

.container{
    max-width: 1200px;
    margin:auto;
    padding: 0 20px;
}

.btn{
    display:inline-block;
    background-color: var(--primary-color);
    color: var(--border-color);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: black;
}

.top-bar{
    background-color: var(--border-color);
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.top-bar a{
    color:var(--heading-color);
    font-weight: 600;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--text-color);
}

ul{
    display: flex;
    gap:20px;
}

li a{
    font-weight: 500;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease;
}

li a:hover{
    border-bottom: 2px solid var(--heading-color);
}

.nav-icons{
    display: flex;
    gap: 15px;
}

.nav-icons a{
    font-size: 1.2rem;
    color: var(--text-color);
    position: relative;
}

.cart-count{
    position: absolute;
    top: -8px;
    right:-10px;
    background-color: var(--border-color);
    color: #ffffff;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
}