@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --primary-color:#AD7CA9;
    --text-color:#003631;
    --heading-color:#430a4d;
    --border-color:#ffeda8;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'robot slab' ;
}

body{
    color: var(--text-color);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    list-style-type: none;
}

h1,h2,h3{
    color:var(--heading-color);
    font-weight: 600;
}

.container{
    max-width: 1200px;
    margin:auto;
    padding: 0 20px;
}

.btn{
    display:inline-block;
    background-color: var(--primary-color);
    color: var(--border-color);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: black;
}

.top-bar{
    background-color: var(--border-color);
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.top-bar a{
    color:var(--heading-color);
    font-weight: 600;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--text-color);
}

ul{
    display: flex;
    gap:20px;
}

li a{
    font-weight: 500;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease;
}

li a:hover{
    border-bottom: 2px solid var(--heading-color);
}

.nav-icons{
    display: flex;
    gap: 15px;
}

.nav-icons a{
    font-size: 1.2rem;
    color: var(--text-color);
    position: relative;
}

.cart-count{
    position: absolute;
    top: -8px;
    right:-10px;
    background-color: var(--border-color);
    color: #ffffff;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
}

.hero{
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 5%;
    min-height: 500px;
    gap:30px;
}

.hero-content h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content p{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.hero-content img{
    max-width: 100%;
    height: auto;
}

.features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 5%;
    border-bottom: 1px solid var(--border-color);
    gap: 20px;
}

.features-item{
    align-items: center;
    display: flex;
    gap: 20px;
}

.features-item i{
    font-size: 2rem;
    color: var(--text-color);
}

.features-item h3{
    font-size: 2rem;
}

.features-item p{
    font-size: 1rem;
}

.category-grid .product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    text-align: center;
    gap:30px;
    padding: 20px;
}

.categories h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.categories{
    padding: 80px;
}

.category-item{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 40px;
    transition: box-shadow 0.3s ease;
}

.category-item:hover{
    box-shadow: 0 4px 8px var(--primary-color);
    transform: translateY(-5px);
}

.category-item p{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}

.bestselling{
    padding: 80px;
}

.bestselling h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--text-color);
}

.bestselling-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    text-align: center;
    gap: 30px;
    padding: 20px;
}

.bestselling-item{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 40px;
    transition: box-shadow 0.3s ease;
}

.bestselling-item:hover{
    box-shadow: 0px 4px 8px var(--primary-color);
    transform: translateY(-5px);
}

.bestselling-item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.bestselling-item p{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}
.bestselling-item h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}

.bottom-bar{
    background-color: var(--border-color);
    padding: 100px;
    font-size: 0.9rem;
}

.bottom-bar-grid{
    display: flex;
    gap:70px;
    padding: 50px;

}

.shop-layout{
    display: flex;
    gap:    30px;
}

.filters{
    width:350px;
    flex-shrink: 0;
}

.filters h3{
    margin-bottom: 15px;
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.filters ul{
    display: block;
    gap: 10px;
}

.filters li a{
    display: block;
    padding: 8px 0;
}

.filters li a:hover{
    background-color: var(--border-color);
    padding-left: 5px;
}

.page-content h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2rem;
}

.product-item{
    display:flex;
    gap:70px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.page-content{
    padding: 80px 5%;
}

.product-item h4{
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.product-item p{
    font-size: 1.1rem;
    color: var(--primary-color);
    text-align: center;
}

.product-layout{
    display: flex;
    gap:    30px;
}

.product-image{
    width:400px;
    flex-shrink: 0;
}

.product-content{
    padding: 80px 5%;
}

.smartphone-info1 h2{
    font-size: 2rem;
    text-align: justify;
    color: var(--text-color);
}

.smartphone-info1 h4{
    font-size: 1.1rem;
    color: var(--heading-color);
}

.smartphone-info1 p{
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: left;
}

.smartphone-info2 h5{
    font-size: 1.3rem;
    color: #003631;
}

.smartphone-info2{
    display: flex;
    gap:50px;
}

.product-grid{
    display: grid;
    gap: 30px;
}